<body class="bg-light d-flex flex-column min-vh-100">
  <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand mt-4">
      <h2>GlobeLingo</h2>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
      <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">My Contacts</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blocked Contacts</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Badges</a></li>
    </ul>
  </div>

  <div class="body flex-grow-1 px-3">
    <div class="container-lg">
      {{{body}}}
      <!-- Placeholder for dynamic content -->
    </div>
  </div>
</body>