<style>
    .body {
        height: 100%;
    }
</style>


<body class="bg-light d-flex flex-column min-vh-100">
        <h1 class="mb-4">Welcome to GlobeLingo!</h1>
        <p class="lead">Learn and connect with languages around the world.</p>
        <div class="mt-4">
            <a href="/sign-up" class="btn btn-primary me-3">Sign Up</a>
            <a href="/login" class="btn btn-secondary">Login</a>
        </div>
    </div>
</body>